<aside class="sidebar">
    <img class="logo" src="assets/img/join_logo_white.svg" alt="Logo">
    <nav>
        <a href="#"><i class="iconSideStyle summaryIcon"></i>Summary</a>
        <a href="#"><i class="iconSideStyle addTaskIcon"></i>Add Task</a>
        <a href="#"><i class="iconSideStyle boardIcon"></i>Board</a>
        <a href="#"><i class="iconSideStyle contactIcon"></i>Contacts</a>
    </nav>
    <div class="footer-links">
        <a href="#">Privacy Policy</a>
        <a href="#">Legal notice</a>
    </div>
</aside>
<div class="main">
    <nav class="navbar navbar-light bg-light header">
        <h1>Kanban Project Management Tool</h1>
        <div class="user-profile">
            <span>SM</span>
        </div>
    </nav>
    <div class="main-content" id="main-content"></div>
</div>