<div class="summary-content">
    <div class="header-text">
        <h2>Join 360</h2>
        <p>Key Metrics at a Glance</p>
    </div>
    <div class="content-div">
        <div class="summary-div">
            <div class="to-dos w-100">
                <div class="info-card">
                    <div class="info-card-body">
                        <div class="iconRoundStyle"><i class="edit-icon"></i></div>
                        <div class="card-info">
                            <h1>1</h1>
                            <p class="card-title">To-Do</p>
                        </div>
                    </div>
                </div>
                <div class="info-card">
                    <div class="info-card-body">
                        <div class="iconRoundStyle"><i class="check-icon"></i></div>
                        <div class="card-info">
                            <h1>1</h1>
                            <p class="card-title">Done</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="to-dos w-100">
                <div class="info-card">
                    <div class="info-card-body">
                        <h5 class="card-title">To-Do</h5>
                    </div>
                </div>
            </div>
            <div class="to-dos w-100">
                <div class="info-card">
                    <div class="info-card-body dir-col">
                        <h1>5</h1>
                        <p>Tasks in Board</p>
                    </div>
                </div>
                <div class="info-card">
                    <div class="info-card-body dir-col">
                        <h1>2</h1>
                        <p>Tasks In Progress</p>
                    </div>
                </div>
                <div class="info-card">
                    <div class="info-card-body dir-col">
                        <h1>2</h1>
                        <p>Awaiting Feedback</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="regards">
            <h3>Good morning,</h3>
            <h1>Daniel Haendel</h1>
        </div>
    </div>
</div>
