body {
    background-color: #f4f5f6;
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px 80px;
}

header img {
    height: 121.97px;
    width: auto;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    gap: 40px
}

.footer-link {
    text-decoration: none;
    color: #b5b5b5;
}

.footer-link:hover {
    color: #2a3647;
}

.div-center {
    display: flex;
    justify-content: center;
}

.div-space-between {
    display: flex;
    justify-content: space-between;
}